<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Content-Security-Policy" content="style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../estilos/Registro_Estilos_Style.css">
    <title>Edicion ESTILOS</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <div class="menu_left"><a href="../Visualizar_estilos"><input class="btn_menu" type="submit" value="REGRESAR"></a></div>
            <div class="menu_center"><a class="ugc">Estilos</a></div>
            <div class="menu_right"><a href="/logout"><input class="btn_menu" type="submit" value="LogOut"></a></div>
        </div>
        <div class="section">
            <a class="page"> EDICION DE ESTILOS</a>
        </div>
        <form class="fields" action="/edicion_estilos" method="post">
        
            
                <% if (estilo) { %>
                    <div class="datos">
                        <a class="titlefield">Datos del estilo</a>
                        <div class="datet"><a>Modelo</a></div>
                        <input required class="datin" type="text" placeholder="Modelo.." value="<%= estilo.Modelo %>" name="modelo" id="modelo" readonly="readonly">
                        <div class="datet"><a>Descripcion</a></div>
                        <input required class="datin" type="text" placeholder="Descripcion.." value="<%= estilo.Descripcion %>" name="descrip" id="descrip">
                        <div class="datet"><a>Tela</a></div>
                        <input required class="datin" type="text" placeholder="Tela.." value="<%= estilo.Tela %>" name="tela" id="tela">
                    </div>
                    <div class="tallas">
                        <a class="titlefield">Tallas</a>
                        <div class="datet"><a>Tallas</a></div>
                        <input required class="datin" type="text" placeholder="Talla.." value="<%= estilo.Tallas %>" name="tallas" id="tallas">
                    </div>
                    <div class="hilos">
                        <a class="titlefield">Hilos</a>
                        <div class="datet"><a>Guia</a></div>
                        <div class="hilo-inpt">
                            <input required class="inhi" type="text" placeholder="Hilo.." value="<%= estilo.Guia_hilo %>" name="guiaH" id="guiaH">
                            <input required class="inhi" type="text" placeholder="Calibre.." value="<%= estilo.Guia_calibre %>" name="guiaC" id="modeloC">
                        </div>
                        <div class="datet"><a>Presilla</a></div>
                        <div class="hilo-inpt">
                            <input required class="inhi" type="text" placeholder="Hilo.." value="<%= estilo.Presilla_hilo %>" name="presH" id="presH">
                            <input required class="inhi" type="text" placeholder="Calibre.." value="<%= estilo.Presilla_calibre %>" name="presC" id="presC">
                        </div>
                        
                        <div class="datet"><a>Combinacion</a></div>
                        <div class="hilo-inpt">
                            <input required class="inhi" type="text" placeholder="Hilo.." value="<%= estilo.Combinacion_hilo %>" name="combH" id="combH">
                            <input required class="inhi" type="text" placeholder="Calibre.." value="<%= estilo.Combinacion_calibre %>" name="combC" id="combC">
                        </div>
                        
                        <div class="datet"><a>Sobrehilado</a></div>
                        <div class="hilo-inpt">
                            <input required class="inhi" type="text" placeholder="Hilo.." value="<%= estilo.Sobrehilado_hilo %>" name="sobreH" id="sobreH">
                            <input required class="inhi" type="text" placeholder="Calibre.." value="<%= estilo.Sobrehilado_calibre %>" name="sobreC" id="sobreC">
                        </div>
                        
                        <div class="datet"><a>Seguridad</a></div>
                        <div class="hilo-inpt">
                            <input required class="inhi" type="text" placeholder="Hilo.." value="<%= estilo.Seguridad_hilo %>" name="seguridadH" id="seguridadH">
                            <input required class="inhi" type="text" placeholder="Calibre.." value="<%= estilo.Seguridad_calibre %>" name="seguridadC" id="seguridadC">
                        </div>
                    </div>  
                    <div class="cierre">
                        <a class="titlefield">Cierre</a>
                            <select class="tallaform" name="cierre" id="cierre">
                                <option <%= estilo.Cierre == '6' ? "selected" : '' %> " value="6">6 cm</option>
                            <option <%= estilo.Cierre == '8' ? "selected" : '' %> value="8">8 cm</option>
                            <option <%= estilo.Cierre == '10' ? "selected" : '' %> value="10">10 cm</option>
                            <option <%= estilo.Cierre == '12' ? "selected" : '' %> value="12">12 cm</option>
                            <option <%= estilo.Cierre == '15' ? "selected" : '' %> value="15">15 cm</option>
                            <option <%= estilo.Cierre == '18' ? "selected" : '' %> value="18">18 cm</option>
                            </select>
                    </div>
                <% } %>
            
       
            </div>
            <div class="button">
                <input required id="reg-but"  type="submit" value="Guardar">
            </div> 
        </form>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </div>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>' ,
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton:'<%=showConfirmButton%>' ,
                timer: '<%=timer%>'
            }).then(()=>{
                window.location = 'Registro_Estilo <%= ruta%>'
            });
        </script>
    <%}%>
</body>
</html>