<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta http-equiv="Content-Security-Policy" content="style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;">
    <link rel="stylesheet" href="estilos/index_Style.css">
    <title>UGC-Gestion</title>
</head>
<body>
    <div class="title">
        <div class="menu_right"><a href="/logout"><input class="btn_menu" type="submit" value="LogOut"></a></div>
    </div> 
    <div class="container">
        
        <div class="title">
            <a class="ugc">UGC</a>
        </div>
        <div class="but">
            <a href="Visualizar_estilos"><input type="submit" value="GESTION ESTILOS"></a>
            <a href="Visualizar_cortes"><input type="submit" value="GESTION CORTES"></a>
            <a href="Visualizar_Hilos"><input type="submit" value="GESTION HILOS"></a>
            <a href="Visualizar_usuarios"><input type="submit" value="GESTION USUARIOS"></a>
        </div>
        
    </div>
    <div>
        <% if(typeof alert != "undefined") { %>
            <script>
                Swal.fire({
                    title: '<%= alertTitle %>' ,
                    text: '<%= alertMessage %>',
                    icon: '<%= alertIcon %>',
                    showConfirmButton:'<%=showConfirmButton%>' ,
                    timer: '<%=timer%>'
                }).then(()=>{
                    window.location = '/ <%= ruta%>'
                });
            </script>
        <%}%>
    </div>
    
</body>
</html>