<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta http-equiv="Content-Security-Policy" content="style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../estilos/joki.css">
    <title>IniciarSession</title>
    
</head>
<body>
    
    <div class="container">
         
        <div class="section">
            <a class="page"> Iniciar Session</a>
        </div>
        <form class="cont"action="/login" method="POST">
            <div class="form-group">
                <input type="text" name="name" id="name" placeholder="Username" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
            </div>
            <div class="form-group" id="botones">
                <button>
                    Iniciar
                </button>
                <div class="menu_right"><a href="Register"><input class="btn" type="submit" value="Registro"></a></div>
            </div>
        </form>
    </div>
    <div>
        <% if(typeof alert != "undefined") { %>
            <script>
                Swal.fire({
                    title: '<%= alertTitle %>' ,
                    text: '<%= alertMessage %>',
                    icon: '<%= alertIcon %>',
                    showConfirmButton:'<%=showConfirmButton%>' ,
                    timer: '<%=timer%>'
                }).then(()=>{
                    window.location = '/ <%= ruta%>'
                });
            </script>
        <%}%>
    </div>
       
</body>
</html>
