<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../estilos/Registro_Cortes_Style.css">
    <title> CORTES</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <div class="menu_left"><a href="Visualizar_cortes"><input class="btn_menu" type="submit" value="REGRESAR"></a></div>
            <div class="menu_center"><a class="ugc">Cortes</a></div>
            <div class="menu_right"><a href="/logout"><input class="btn_menu" type="submit" value="LogOut"></a></div>
        </div>
        <div class="section">
            <a class="page">REGISTRO DE CORTES</a>
        </div>
        <form class="fields"action="/registro_cortes" method="post">
            
                <div class="corte">
                    <a class="titlefield">Corte</a>
                    <input required class="datin" type="text" placeholder="Folio Interno.." name="FolioInterno" id="FolioInterno">
                    <input required class="datin" type="text" placeholder="Fecha de pedido.." name="FechaPedido" id="FechaPedido">
                    <input required class="datin" type="text" placeholder="Cliente.." name="Cliente" id="Cliente">
                    <input required class="datin" type="text" placeholder="Tienda.." name="Tienda" id="Tienda">
                    <input required class="datin" type="text" placeholder="Orden.." name="Orden" id="Orden">
                    <input required class="datin" type="text" placeholder="Modelo.." name="Modelo" id="Modelo">
                    <input required class="datin" type="text" placeholder="Descripcion.." name="descrip" id="descrip">
                </div>
                <div class="one_field">                    
                    <a class="titlefield">Proporcion del corte</a>
                    <input class="inhi" type="text" placeholder="Proporcion del corte.." name="proporcion" id="proporcion">
                </div>                
                <div class="one_field">
                    <a class="titlefield">Distribucion de Bultos</a>
                    <div class="two_input">
                        <input required class="inhi" type="text" placeholder="Tono.." name="DBTono" id="DBTono">
                        <input required class="inhi" type="text" placeholder="Dobles.." name="DBDobles" id="DBDobles">
                    </div>
                </div>
                <div class="one_field">
                    <a class="titlefield">Retazo</a>
                    <div class="two_input">
                        <input required class="inhi" type="text" placeholder="Tono.." name="RetazoTono" id="RetazoTono">
                        <input required class="inhi" type="text" placeholder="Dobles.." name="RetazoDobles" id="RetazoDobles">
                    </div>
                </div>
                <div class="one_field">
                    <a class="titlefield">Cierre</a>
                        <select class="tallaform" name="cierre" id="cierre">
                            <option vale="6">6 cm</option>
                            <option vale="8">8 cm</option>
                            <option vale="10">10 cm</option>
                            <option vale="12">12 cm</option>
                            <option vale="15">15 cm</option>
                            <option vale="18">18 cm</option>
                        </select>
                </div>
                <div class="hilos">
                    <a class="titlefield">Hilos</a>
                    <div class="datet"><a>Guia</a></div>
                    <div class="hilo-inpt">
                        <input required class="inhi" type="text" placeholder="Hilo.." name="guiaH" id="guiaH">
                        <input required class="inhi" type="text" placeholder="Calibre.." name="guiaC" id="modeloC">
                    </div>
                    <div class="datet"><a>Presilla</a></div>
                    <div class="hilo-inpt">
                        <input required class="inhi" type="text" placeholder="Hilo.." name="presH" id="presH">
                        <input required class="inhi" type="text" placeholder="Calibre.." name="presC" id="presC">
                    </div>
                    
                    <div class="datet"><a>Combinacion</a></div>
                    <div class="hilo-inpt">
                        <input required class="inhi" type="text" placeholder="Hilo.." name="combH" id="combH">
                        <input required class="inhi" type="text" placeholder="Calibre.." name="combC" id="combC">
                    </div>
                    
                    <div class="datet"><a>Sobrehilado</a></div>
                    <div class="hilo-inpt">
                        <input required class="inhi" type="text" placeholder="Hilo.." name="sobreH" id="sobreH">
                        <input required class="inhi" type="text" placeholder="Calibre.." name="sobreC" id="sobreC">
                    </div>
                    
                    <div class="datet"><a>Seguridad</a></div>
                    <div class="hilo-inpt">
                        <input required class="inhi" type="text" placeholder="Hilo.." name="seguridadH" id="seguridadH">
                        <input required class="inhi" type="text" placeholder="Calibre.." name="seguridadC" id="seguridadC">
                    </div>
                </div>  
                <div class="confeccion">
                    <a class="titlefield">Control de confeccion</a>

                    <div class="datet"><a>Delantero</a></div>
                    <div class="first-row">
                        <input required class="inhi" type="text" placeholder="Fecha Entrega.." name="FechaED" id="FechaED">
                        <input required class="inhi" type="text" placeholder="Se entrego a.." name="SeEntD" id="SeEntD">
                    </div>
                    <div class="second-row">
                        <input required class="inhi" type="text" placeholder="Entrego.." name="EntregoD" id="EntregoD">
                        <input required class="inhi" type="text" placeholder="Habilitacion.." name="HabiD" id="HabiD">
                    </div>
                    <input class="inhi" type="text" placeholder="Fecha Cobro.." name="CobroD" id="CobroD">

                    <div class="datet"><a>Trasero</a></div>
                    <div class="first-row">
                        <input required class="inhi" type="text" placeholder="Fecha Entrega.." name="FechaET" id="FechaET">
                        <input required class="inhi" type="text" placeholder="Se entrego a.." name="SeEntT" id="SeEntT">
                    </div>
                    <div class="second-row">
                        <input required class="inhi" type="text" placeholder="Entrego.." name="EntregoT" id="EntregoT">
                        <input required class="inhi" type="text" placeholder="Habilitacion.." name="HabiT" id="HabiT">
                    </div>
                    <input class="inhi" type="text" placeholder="Fecha Cobro.." name="CobroT" id="CobroT">

                    <div class="datet"><a>OP. Externos</a></div>
                    <div class="first-row">
                        <input required class="inhi" type="text" placeholder="Fecha Entrega.." name="FechaEOP" id="FechaEOP">
                        <input required class="inhi" type="text" placeholder="Se entrego a.." name="SeEntOP" id="SeEntOP">
                    </div>
                    <div class="second-row">
                        <input required class="inhi" type="text" placeholder="Entrego.." name="EntregoOP" id="EntregoOP">
                        <input required class="inhi" type="text" placeholder="Habilitacion.." name="HabiOP" id="HabiOP">
                    </div>
                    <input class="inhi" type="text" placeholder="Fecha Cobro.." name="CobroOP" id="CobroOP">
                    
                    <div class="datet"><a>Terminacion</a></div>
                    <div class="first-row">
                        <input required class="inhi" type="text" placeholder="Fecha Entrega.." name="FechaETE" id="FechaETE">
                        <input required class="inhi" type="text" placeholder="Se entrego a.." name="SeEntTE" id="SeEntTE">
                    </div>
                    <div class="second-row">
                        <input required class="inhi" type="text" placeholder="Entrego.." name="EntregoTE" id="EntregoTE">
                        <input required class="inhi" type="text" placeholder="Habilitacion.." name="HabiTE" id="HabiTE">
                    </div>
                    <input class="inhi" type="text" placeholder="Fecha Cobro.." name="CobroTE" id="CobroTE">
                    
                    <div class="datet"><a>Lavanderia</a></div>
                    <div class="first-row">
                        <input required class="inhi" type="text" placeholder="Fecha Entrega.." name="FechaEL" id="FechaEL">
                        <input required class="inhi" type="text" placeholder="Se entrego a.." name="SeEntL" id="SeEntL">
                    </div>
                    <div class="second-row">
                        <input required class="inhi" type="text" placeholder="Entrego.." name="EntregoL" id="EntregoL">
                        <input required class="inhi" type="text" placeholder="Habilitacion.." name="HabiL" id="HabiL">
                    </div>
                    <input class="inhi" type="text" placeholder="Fecha Cobro.." name="CobroL" id="CobroL">
                </div>
                <div class="button">
                    <input required id="reg-but" type="submit" value="REGISTRAR">
                </div>
           
        </form>
    </div>
    <div>
        <% if(typeof alert != "undefined") { %>
            <script>
                Swal.fire({
                    title: '<%= alertTitle %>' ,
                    text: '<%= alertMessage %>',
                    icon: '<%= alertIcon %>',
                    showConfirmButton:'<%=showConfirmButton%>' ,
                    timer: '<%=timer%>'
                }).then(()=>{
                    window.location = 'Registro_Cortes <%= ruta%>'
                });
            </script>
        <%}%>
    </div>
     
</body>
</html>