<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta http-equiv="Content-Security-Policy" content="style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;">
    <meta http-equiv="Content-Security-Policy" content="style-src 'self' https://fonts.googleapis.com 'unsafe-inline'">    
    <link rel="stylesheet" href="../estilos/Registro_Usuarios_Style.css">
    <title>Registro</title>
</head>
<body>

    <div class="container">

        <div class="title">
            <div class="menu_left"></div>
            <div class="menu_center"><a class="ugc">Registro de usuarios</a></div>
            <div class="menu_right"><a href="/"><input class="btn_menu" type="submit" value="Atras"></a></div>

        </div>
        <div class="section">
            <a class="page"> Registrarse</a>
        </div>
        <form class="fields" action="/register" method="POST">
            <div class="form-group">
                <input type="text" name="name" id="name" placeholder="Full Name" class="form-control" autofocus required> 
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block">
                    Registrar
                </button>
            </div>
        </form>
    </div>
    <div>
        
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>' ,
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton:'<%=showConfirmButton%>' ,
                timer: '<%=timer%>'
            }).then(()=>{
                window.location = 'Register <%= ruta%>'
            });
        </script>
    <%}%> 
    </div>       
</body>
</html>

