<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../estilos/Buscar_Style.css">
    <title>VISUALIZAR CORTES
    </title>
</head>
<body>
    <div class="container">
        <div class="title">
            <div class="menu_left"><a href="/"><input class="btn_menu" type="submit" value="REGRESAR"></a></div>
            <div class="menu_center"><a class="ugc">Menu estilos</a></div>
            <div class="menu_right"><a href="Usuario"><input class="btn_menu" type="submit" value="Usuario"></a></div>
        </div>
        <div class="section">
            <a class="page">VISUALIZAR CORTES</a>
        </div>
        <a href="Registro_Cortes" class="btn_menu">Registrar</a>
        <table class="table table-borderred table-striped text-center mt-4">
            <thead>
                <tr>
                    <th> Folio Interno </th>
                    <th>Fecha de Pedido</th>
                    <th> Cliente </th>
                    <th>Tienda</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach((corte) => { %>
                    
                <tr>
                    <td><%= corte.Folio_interno %></td>
                    <td><%= corte.Fecha_pedido %></td>
                    <td><%= corte.Cliente %></td>
                    <td><%= corte.Tienda %></td>
                    <td>
                        <a href="/Edicion_cortes/<%= corte.Folio_interno %>" class="btn_menu">Editar</a>
                        <a href="/Eliminar_cortes/<%= corte.Folio_interno %>" class="btn_menu">Eiminar</a>
                    </td>
                </tr>
                <% }) %> 
            </tbody>
        </table>            
    </div>
</body>
</html>