<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../estilos/Visualizacion_Estilos_Style.css">
    <title>VISUALIZAR ESTILOS
    </title>
</head>
<body>
    <div class="container">
        <div class="title">
            <div class="menu_left"><a href="/"><input class="btn_menu" type="submit" value="REGRESAR"></a></div>
            <div class="menu_center"><a class="ugc">Menu estilos</a></div>
            <div class="menu_right"><a href="Usuario"><input class="btn_menu" type="submit" value="Usuario"></a></div>
        </div>
        <div class="section">
            <a class="page">VISUALIZAR ESTILOS</a>
        </div>
        <a href="Registro_Estilo" class="btn_registro">Registrar</a>
        <div id="table_cont">
        <table >
            <thead>
                <tr>
                    <th> Modelo </th>
                    <th>Descripcion</th>
                    <th> Tela</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach((estilo) => { %>
                    
                <tr>
                    <td><%= estilo.Modelo %></td>
                    <td><%= estilo.Descripcion %></td>
                    <td><%= estilo.Tela %></td>
                    <td>
                        <a href="/Edicion_estilos/<%= estilo.Modelo %>" class="btn_menu">Editar</a>
                        <a href="/Eliminar_estilos/<%= estilo.Modelo %>" class="btn_menu">Eiminar</a>
                        <a href="/Estilo_completo/<%= estilo.Modelo %>" class="btn_menu">Ver mas ...</a>
                    </td>
                </tr>
                <% }) %> 
            </tbody>
        </table>     
        </div>       
    </div>
</body>
</html>